*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*Start continer rules*/
.continer
{
    width: 100%;
    min-height:100vh;
    transition: all .3s ease;
}
.continer header{
    width: 100%;
    height:10%;
    border-bottom:  1px solid #ccc;
    display:flex;
    position: fixed;
    padding-top:20px;
    z-index: 2;
    background-color: #fff;
}
.continer header .left{
    flex-basis: 30%;
    height:100%;
    padding-left: 15px;
    padding-top: 2px;
   
}
.continer header .left ul{
    display: flex;
    list-style: none;
}
.continer header .left ul a{
    color:#202020;
    text-decoration: none;
    margin-left: 30px;
    font-weight: 100;
    font-family: 'Open Sans Condensed', sans-serif;
}
.continer header .left ul a:hover{
    color:blue
}
.continer header .logo{
    flex-basis: 40%;
    height:100%;
    text-align: center;
    
}
.continer header .logo h1{
    margin-top: -5px;
    font-family: 'Open Sans Condensed', sans-serif;
}
.continer header .right{
    flex-basis: 30%;
    height:100%;
    position: relative;
   

}
.continer header .right ul {
    display: flex;
    list-style: none;
    position: absolute;
    top:1px;
    right:45px;

   
}
.continer header .right ul li{
    margin-left: 30px;
}
.continer header .right ul a{
    text-decoration: none;
    color:#202020;
    font-family: 'Open Sans Condensed', sans-serif;
}
.continer header .right ul a:hover{
    color:blue;
}
.continer main{

  position: relative;
  top:110px;
  left :15px;
  display: flex;
  flex-direction: column;
  
  
}
.continer main .head-main{
    position: absolute;
    left:35%;
    width: 450px;
    height:400px;
    text-align: center;
}
.continer main .head-main h3{
    color:#ccc;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 100;
    margin-bottom: 30px;
}
.continer main .head-main  p{
   text-align: inherit;
   font-family: 'Open Sans Condensed', sans-serif;
   font-size: 19px;
}
.continer main .head-main  p a{
    color:#202020;
}
.continer main .cloth-main{
    flex-basis: 100%;
    display: flex;
    position: relative;
    top:250px;
    left:15px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  
}
.continer main .cloth-main div{
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  
  
}

.continer main .cloth-main div img{
    height:450px;
    width: 350px;
    border-radius:10px;

}
.continer main .cloth-main div p{
   width:350 ;
   border-bottom-right-radius:10px ;
   border-bottom-left-radius: 10px;
   margin-top: -40px;
   background: rgba(255,255,255,.5);
   height:40px;
   display: flex;
   padding:10px;
   color:#202020;
   
   
}

.continer main .cloth-main div .info{
    margin-top: 10px;  
    width:350px;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    
}

.continer main .cloth-main  .info .left-info{
    flex-basis: 90%;
    
}
.continer main .cloth-main  .info .right-info{
    flex-basis: 10%;
  
}
.continer main .cloth-main div  span{
    margin-bottom: 80px;
    display: flex;
}
.continer main .cloth-main div  span i{
    margin-right: 10px;
}

.continer  main .next{
 position: absolute;
 bottom: 30px;
 right:65px;   

}

.continer .next a{
    text-transform: uppercase;
    color:blue;
    text-decoration: none;
    font-family: 'Open Sans Condensed', sans-serif;
}

.continer footer{
  position: relative;
  top:350px;
  left:0;
   border-top: 2px solid #ccc;
   width:100%;
   height:300px;
  display: flex;
  flex-direction: column;
}
.continer footer .par{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:30px;
}
.continer footer .par p{
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 19px;
  color:#202020;
}
.continer footer .par form{
  position: absolute;
  top:150px;
  left:38%;
  display: flex;
  flex-direction: column; 
} 
.continer footer .par form input{
    width: 300px;
    border:none;
    outline:none;
    height:35px;
    color:rgb(185, 185, 185);
    padding:10px;
    border-bottom:1px solid #ccc;
    margin-bottom: 10px;
}
.continer footer .par form button{
    width: 300px;
    height:40px;
    color:#202020;
    background: #fff;
    outline:none;
    border:.5px solid #202020;
}

.continer footer .par form button:hover{
   background: blue;
   color:#fff;
   border:none;
}
.continer footer .social-media{
   position: absolute;
   bottom: 0;
   display: flex;
   width: 100%;
 
}
.continer footer .social-media .left{
    flex-basis:  50%;
    left:30px;
   
}
.continer footer .social-media .left ul {
    display: flex;
   
    list-style: none;
}
.continer footer .social-media .left ul li{
    margin-left: 30px;
}
.continer footer .social-media   a{
    color:rgb(128, 128, 128);
    text-decoration: none;

}
.continer footer .social-media .right{

    flex-basis: 50%;
    right:80px;
}
.continer footer .social-media .right ul{
    display: flex;
   
    list-style: none;
}
.continer footer .social-media .right ul li{
    margin-left: 580px;
}
/*End continer rules*/